body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    color: #333;
}
header{
background-color: #3b82f6;

}
main{
background-color: #3b82f6;
}
form.lista {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
  }
  
  .campo-pesquisa {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%;
  }
  
  button, a {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    transition: background-color 0.2s, transform 0.2s, box-shadow 0.2s;
  }
  
  button:hover, a:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }

.container {
    width: 90%;
    max-width: 1200px;
    margin: 30px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

h1 {
    color: #f8f8f8;
    margin-bottom: 20px;
}

.lista-comandos {
    list-style: none;
    padding: 0;
    min-width: 300px;
}

.lista-comandos li {
    margin-bottom: 15px;
}

.lista-comandos a {
    text-decoration: none;
    color: #2563eb;
    font-weight: bold;
    font-size: 18px;
}

.lista-comandos a:hover {
    text-decoration: underline;
}

.campo-pesquisa {
    width: 80%;
    padding: 10px;
    margin-bottom: 25px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.botao-adicionar {
    background-color: #3b82f6;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
    transition: background-color 0.3s;
}

.botao-adicionar:hover {
    background-color: #2563eb;
}
