@charset "UTF-8";
:root{
    --cor1: #010326;
    --cor2: #0D0000;
    --cor3: #8C8C8C;
    --cor4: #F9F9F9;
    --cor5: #F2F2F2;
    --corbut11: white;
    --corbut12: #bebdbd;
    --corbut21: #830303;
    --corbut22: #720101;
    --corbut31: #1b049e;
    --corbut32: #12026e;
    --corbut41: #1a5c37;
    --corbut42: #063d1e;
}
body {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}
main{
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    background-color: rgb(150, 148, 148);
    min-height: auto;
    max-width: 1000px;
    height: auto;
    overflow: auto;
}
form {
    background-color: rgba(133, 132, 132, 0.829);
    margin: 10px auto;
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
   
}
label{
    text-align: left;
    color: white;
    text-shadow:1px 2px 3px rgb(58, 58, 58);
}

.btn-QSaoImagens{
    display: inline-block;
    margin-top: 10px;
    border-radius: 5px;
    margin: 0px;
    padding: 2px;
}

form.upload{
    background-color:rgba(87, 86, 86, 0.829);
    width: 90%;
    min-height: 300px;
    display: block;
}
form.lista{
    background-color: rgba(145, 145, 145, 0.829);
    width: 50%;
}
input, textarea {
    width: 100%;
    margin: 10px -10px;
    padding: 8px;
    box-sizing: border-box;
}

a{
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.500); 
}
/* .imagem{
    margin-top: 10px;
    width: 80%;
    height: auto;
    max-width: 500px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.377);  } */
.img-preview{
    margin-bottom: 10px;
}
#imagemAtual{
    margin-bottom: 10px;
}
 .blocoLista{ /*css separando os blocos la no lista.php*/
    background-color: var(--cor4);
    margin: auto;
    white-space: pre-wrap; /* Mantém quebras de linha */
    word-wrap: break-word;  /* Evita que palavras longas estourem a largura */
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    font-family: Arial, Helvetica, serif;
    
}
form.editarDados{
    background-color: rgba(141, 3, 3, 0.829);
    margin: auto;
    width: 1000px;
}

.resolucao{
    width: 100%;
}
.cpesquisa{
    color: white;
}
.clista{
    margin: 10px;
}
#idesc{
    width: 100%;
}
#iresol{
    width: 100%;
    min-height: 200px;
}
h2.uploadhtml {
    text-shadow:1px 2px 3px rgba(47, 48, 47, 0.281) ; 
     
}

h2.cpesquisa
{
    color: white;    
}
h1{
    color: white;
}

/* stylos dos botes de excluir e  alterar no lista.php*/
/* Contêiner para os botões (editar e excluir) */
.botao-container {
    display: flex;
    justify-content: space-between; /* Deixa os botões um ao lado do outro com espaço entre eles */
    margin-top: 20px;
}
 /* estilo do botão Salvar alterações e botão retornar para o buscar*/


p{
    background-color: rgb(238, 237, 237);
    border: 1px solid rgba(65, 64, 64, 0.300);
    margin-bottom: 2px;
    margin-top: 2px;
    padding-top: 5px;
    border-bottom-width: 1px;
    padding-bottom: 5px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.164);
}
.divImagemView{
    background-color: rgb(238, 237, 237);
    border: 1px solid rgba(65, 64, 64, 0.300);
    margin: auto;
    white-space: pre-wrap; /* Mantém quebras de linha */
    word-wrap: break-word;  /* Evita que palavras longas estourem a largura */
    /* margin-top: 10px;
    margin-bottom: 10px; */
    padding: 10px;
    border-radius: 5px;
    

}
h3{
    background-color: rgb(238, 237, 237);
    border: 1px solid rgba(65, 64, 64, 0.300);
    margin-bottom: 2px;
    margin-top: 1px;
    padding-top: 5px;
    border-bottom-width: 1px;
    padding-bottom: 5px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.164);
}
.formEditarExcluir{ 
    background-color: var(--cor4);
    border: none;
}
.campo-pesquisa{
    opacity: 0.5;
    border-radius: 10px;

}
/* Estilo do botão de Salvar e Consultar no Upload.html */



/* Estilo do botão de excluir e alterar */
.container{ 
    display: flex; /* Ativa o Flexbox */
    gap: 10px; /* Espaço entre os elementos */
    align-items: center; /* Alinha verticalmente */
}

.destaque-btn {
    transition: transform 200ms ease-in-out;
    cursor: pointer; 
}
.destaque-btn:hover{
    transform: scale(1.1);
    cursor: pointer;
}
/* estililo do quadrado que envolve o botão excluir e editar para deixar na mesa cor da clas=blocoLista*/


/* Adiciona um efeito de hover nos botões */
.btn-editar button:hover, .btn-excluir:hover {
    opacity: 0.8;
}